main {
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
}

.primerblock {
    display: flex;
    flex-flow: column;
    margin-top: 10px auto;
    margin-bottom: 10px;
    background-color: black;
}

.celda1 {
    display: flex;
    margin:20px 20px 0px 20px; /*dalt dreta sota esquerra*/
    background-color: rgba(140, 86, 242, 0.962);
}

.subcelda11 {
    flex:1 1 auto;
    margin: 10px;
    padding: 15px;
    background-color: rgba(206, 187, 244, 0.962);
}

.subcelda12 {
    flex:5 1 auto;
    margin: 10px;
    padding: 15px;
    background-color: rgba(206, 187, 244, 0.962);
}

.subcelda13 {
   flex:1 1 auto;
    margin: 10px;
    padding: 15px;
    background-color: rgba(206, 187, 244, 0.962);
}

.celda2 {
    display: flex;
    margin:10px 20px 20px 20px; 
    background-color: rgba(203, 75, 245, 0.87);
}

.subcelda21 {
    flex-basis: 100%;
    margin: 10px;
    padding: 15px;
    background-color: rgba(224, 158, 246, 0.623);
}

.segonblock {
    display: flex;
    margin-top: 120px auto;
    margin-bottom: 10px;
    background-color: rgb(3, 2, 2);
}

.celda3 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 75%;
    margin: 20px 10px 20px 20px;
    padding: 20px;
    background-color: rgb(215, 137, 137);
}

.subcelda3 {
    flex-basis: 40%;
    flex-grow: 10;
    padding: 20px;
    margin:10px 10px 20px 10px;
    background-color: rgba(200, 29, 49, 0.623);
}

.subcelda35 {
    flex-basis: 100%;
    padding: 20px;
    margin:10px 10px 20px 10px;
    background-color: rgba(217, 94, 109, 0.623);
}

.celda4 {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    margin:20px 20px 20px 10px;
    padding: 20px;
    background-color: rgb(118, 12, 12);
}

.subcelda4 {
    padding: 20px;
    margin:10px 10px 20px 10px;
    background-color: rgba(199, 139, 146, 0.623);
}

.tercerblock {
   display: flex;
   background-color: rgb(3, 2, 2);
}

.celda5 {
    flex-basis: 100%;
    padding: 10px;
    margin: 20px;
    background-color: orange;
}

@media (min-width:768px)and (max-width:1024px) {

    /*tabletas*/
    .segonblock {
        background-color: rgb(247, 209, 209);
        flex-direction: column;        
    }

    .celda3 {
        margin: 20px;
        background-color: rgb(215, 137, 137);
    }

    .celda4 {
        margin:10px 20px 20px 20px;
    }

     .tercerblock {
        flex-basis:  auto;
    } 
    .celda5{
        padding: 20px;
     }
    
}

@media (min-width:320px)and (max-width:767px) {
    /*mobile*/

    .primerblock {
        
        padding: 10px;
    }

    .celda1, .celda3,  .segonblock {
        flex-direction: column;
    }

    .celda1, .celda2, .celda3, .celda4  {
        flex-basis: 100%;
        margin: 20px;
        padding: 10px;
    }

    .subcelda11,.subcelda12,.subcelda13, .subcelda21 {
        padding: 20px;
    }
    .segonblock {
        padding: 10px;
        background-color: rgb(247, 209, 209);
    }

    .tercerblock {
        padding: 10px;
    } 
    .celda5{
        padding: 20px;
     }
    
}